@model CarsCatalog.Models.Car

@{
    ViewBag.Title = "Create car";
}
<link href="@Url.Content("~/Content/smoothness/jquery-ui-1.10.4.custom.css")" rel="stylesheet">
@using (Html.BeginForm("Create", "Cars", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Create car</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Model.BrandId, "Brand", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" id="BrandId" name="BrandId">
                    <option value="">Please select a brand</option>
                    @foreach (var brand in ViewBag.BrandTree)
                    {
                        <option value="@brand.Id">@brand.Name</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Model.BrandId, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ModelId, "Model", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" id="ModelId" name="ModelId">
                    <option value="">Please select a model</option>
                </select>
                @Html.ValidationMessageFor(model => model.ModelId, "", new { @class = "text-danger" })
            </div>
        </div>


        <script type="text/javascript">
            var brand_model_Tree = @Html.Raw(Json.Encode(ViewBag.BrandTree));

            $("#BrandId").change(function () {

                var selectedContent = "";
                var brandId = $(this).val();
                if (brandId === "") {
                    $("#ModelId")[0].innerHTML = "<option value=''>Please select a model</option>";
                    return;
                }

                var models = brand_model_Tree[brandId-1].List;
                
                for (var i = 0; i < models.length; i++) {
                    selectedContent += "<option value='"+models[i].Id+"' >" + models[i].Name + "</option>";
                }
                $("#ModelId")[0].innerHTML = selectedContent;
            });
        </script>

        <div class="form-group">
            @Html.LabelFor(model => model.Color, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EngineCapacity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EngineCapacity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EngineCapacity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Upload new image:</label>
            <div class="col-md-10">
                <input type="file" class="form-control" name="Image" accept="image/*" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { id = ViewBag.currentModelId })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
