@model CarsCatalog.Models.CarModel

@{
    ViewBag.Title = "Delete car model";
}
<h3>Are you sure you want to delete this car model?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
    @if (ViewBag.CanDelete)
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default"/> 

            </div>
        }
    }
    else
    {
        <h3>You must delete all cars for this model first</h3>
    }
    <br />
    @Html.ActionLink("Back to List", "Index", new { Id = Model.BrandId })
</div>
