@model IEnumerable<CarsCatalog.Models.CarModel>

@{
    ViewBag.Title = "Models";
    var opStatus = TempData["OperationStatus"] as CarsCatalog.Models.OperationStatus;
}

<h3>@ViewBag.brand.Name</h3>
@if (Request.IsAuthenticated && User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create", new {brandId = ViewBag.brand.Id})
    </p>
}
@if (opStatus != null && opStatus.Status == false)
{
    <h4 class="text-danger">status.Message </h4>
}
@if (!Model.Any())
{
    <h3>No models in this brand </h3>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "index", "Cars", new { Id = item.Id }, null)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                    @if (Request.IsAuthenticated && User.IsInRole("admin"))
                    {
                        @:| @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        @:|
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    }
                </td>
            </tr>
        }

    </table>
}
@if (Request.IsAuthenticated && User.IsInRole("admin"))
{
    @Html.ActionLink("Back to brands", "Index", "Brands")
}
