@{
    ViewBag.Title = "Main page";
}
<h2 class="page-title">Car catalog</h2>
<div class="row row-centered container main-container">
    <div id="left-sidebar" class="col-xs-3 col-centered container">
        @Html.Action("GetBrandsModelsTree")
    </div>
    <div id="main-content" class="col-xs-9 col-centered container">
        <div class="title-page-with-filters-wrap">
            <div class="pos-fix">
                <div class="catalog-view-filters">

                    <div class="catalog-col-count">
                        <span>Columns</span>
                        @Html.DropDownList("columnsList", null, new { id = "columns-list" })
                    </div>
                    <div class="catalog-elements-on-page">
                        <span> Elements on page</span>
                        @Html.DropDownList("elementsPerPageList", null, new { id = "elements-per-page-list" })
                    </div>

                </div>
            </div>
        </div>
        <div class="" id="main-car-list">
            @Html.Action("GetCars")
        </div>

        <div id="paging-navigation" class="btn-group"></div>

    </div>
</div>
@section initScripts
{
    @Styles.Render("~/Content/smoothness/jquery-ui-1.10.4.custom.css")
    @Scripts.Render("~/Scripts/jquery-ui-1.10.4.custom.js")
}
@section scripts
{
    <script src="~/Scripts/knockout-3.3.0.js"></script>

<script src="~/Scripts/App/ko.bindingHandlers.autoComplete.js"></script>
<script src="~/Scripts/catalog.js"></script>
   
    @*@Scripts.Render("~/Scripts/catalog.js")*@
}